.sidebar {
    width: 230px;
    height: 100vh;
    background-color: #101010;
    color: #00ff7b;
    position: fixed;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }
  
  .sidebar.collapsed {
    width: 90px;
  }
  
  .sidebar-logo {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #151515;
  }
  
  .sidebar-logo-text {
    display: inline;
  }
  
  .sidebar-toggle-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    flex-grow: 1;
  }
  
  .sidebar-menu-item {
    text-decoration: none;
    color: #00ff7b;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
  }
  
  .sidebar-menu-item:hover {
    background-color: #151515;
  }
  
  .sidebar-icon {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .sidebar.collapsed .sidebar-menu-item span {
    display: none;
  }
  
  .sidebar.collapsed .sidebar-icon {
    margin-right: 0;
  }
  
  .sidebar-profile-section {
    padding: 20px;
    text-align: center;
  }
  
  .sidebar-profile-info {
    display: flex;
    align-items: center;
  }
  
  .sidebar-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .sidebar-profile-text p {
    margin: 0;
    font-weight: bold;
  }
  
  .sidebar-profile-text span {
    font-size: 12px;
    color: #aaa;
  }
  